@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono&family=Roboto:ital,wght@0,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #464646;
}

div.todo-name,
div.todo-date,
p {
  color: white;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

input,
button {
  height: 35px;
  border: 0;
  margin-right: 5px;
  border-radius: 5px;
}

button {
  cursor: pointer;
  width: 100px;
}

button:hover {
  outline: 1px solid white;
}

.add-button {
  background-color: green;
}

.delete-button {
  background-color: darkred;
}

.add-button,
.delete-button {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  border: 0;
  color: white;
}

.todo-grid,
.inputdiv {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  align-items: center;
  gap: 10px;
}

.inputdiv {
  margin-bottom: 10px;
}

.date-input {
  cursor: pointer;
}
